<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
		<!--put css here !-->
		<style>
			h1 {text-align: center;}
			p {text-align: center;}
		</style>
    <head>
    <body>
		<p>Five things I did this during quarantine that were <b>not</b> 1006 assignments:</p>
		<ol>
			<li>Watched Scrubs - it's on Hulu and I highly recommend.</li>
			<li>Went for a hike at McConnells Mill State Park.</li>
			<li>Helped my sister with her homework for AP Bio.</li>
			<li>Drove to downtown Pittsburgh to get bubble tea.</li>
			<li>Printed stickers and mailed them to my friends.</li>
		</ol>
    </body>
</html>