<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
		<!--put css here !-->
		<style>
			h1 {text-align: center;}
			h3 {text-align: center;}
			p {text-align: center;}
			body {background-image: url('/static/page_background.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;}}
			table {text-align: center;}
			table.center { margin-left:auto; margin-right:auto; }
			td {text-align: center;}
		</style>
    <head>
    <body>
		<h3>Five things I did this during quarantine that were <b>not</b> 1006 assignments:</h3>
		<table class="center" cellspacing = 25>
		<tr>
			<td>Watched Scrubs - it's on Hulu and I highly recommend.</td>
			<td>Went for a hike at McConnells Mill State Park.</td>
			<td>Helped my sister with her homework for AP Bio.</td>
			<td>Drove to downtown Pittsburgh to get bubble tea.</td>
			<td>Printed stickers and mailed them to my friends.</td>
		</tr>
		<tr>
			<td><img src="/static/scrubs.jpg" alt="scrubs" width="200" height="266"/></td>
			<td><img src="/static/mcconnells.jpg" alt="mcconnells mill" width="200" height="266"/></td>
			<td><img src="/static/mitochondria.jpg" alt="mitochondria" width="200" height="266"/></td>
			<td><img src="/static/boba.jpg" alt="boba" width="200" height="266"/></td>
			<td><img src="/static/stickers.jpg" alt="stickers" width="200" height="266"/></td>
			<td>
		</tr>
	</table>
		<ol>
			
		</ol>
    </body>
</html>