<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
		<!--put css here !-->
		<style>
			h1 {text-align: center;}
			h3 {text-align: center;}
			p {text-align: center;}
			body {background-image: url('/static/page_background.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;}}
		</style>
    <head>
    <body>
		<h3>My spring classes, but if they were <b>songs</b></h3>
		<ol>
			<li>Orgo</li>
			<li>Intro to Applied Math<li>
			<li>Physics (E and M)</li>
			<li>Python</li>
			<li>Art of Engineering</li>
		</ol>
    </body>
</html>