<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Devin A. Golla</title>
		<!--put css here !-->
		<style>
			h1 {text-align: center;}
			p {text-align: center;}
			figcaption {text-align: center;}
		</style>
    <head>
    <body>
    <h1>Devin A. Golla</h1>
	<p>
		<img src="/static/devin_python_picture_2.png" alt="picture 2" width="200" height="266" style="margin:0px 25px"/>
		<figcaption>How online classes made me feel</figcaption>
		<img src="/static/devin_python_picture.jpg" alt="picture 1" width="200" height="266" style="margin:25px 0px"/>
		<figcaption>How I feel now that summer is here!</figcaption>
	</p>
	<p>First-Year Student</p>
	<p>Intended Major: Chemical Engineering</p>
	<p><a href="assignments.html">Assignments</a></p>
	<p><a href="classes.html">Classes</a></p>
	<p><a href="https://impulse.coreatcu.com/motivote-a-tale-of-unlikely-hacktivism-e86cdf5770b9"> Impulse! </a></p>
    </body>
</html>

