<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Devin A. Golla</title>
		<!--put css here !-->
		<style>
			h1 {text-align: center;}
			h3 {text-align: center;}
			p {text-align: center;}
			table {text-align: center;}
			table.center { margin-left:auto; margin-right:auto; }
			th {text-align: center;}
			td {text-align: center;}
			body {background-image: url('/static/page_background.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;}}
		</style>
    <head>
    <body>
    <h1>Devin A. Golla</h1>
	<p>
	<table class="center" cellspacing = 25>
		<tr>
			<th>How online classes made me feel</th>
			<th>How I feel now that summer is here!</th>
		</tr>
		<tr>
			<td>
				<img src="/static/devin_python_picture_2.png" alt="picture 2" width="200" height="266"/>
			</td>
			<td>
				<img src="/static/devin_python_picture.jpg" alt="picture 1" width="200" height="266"/>
			</td>
		</tr>
	</table>
	
		
		
	</p>
	<h3 style="color:mediumblue;"> &#128509; First-Year Student &#128509;</h3>
	<h3 style="color:coral;"> &#128300; Intended Major: Chemical Engineering &#128300; </h3>
	<p><a href="assignments.html">More about 1006 Assignments</a></p>
	<p><a href="classes.html">More about my classes</a></p>
	<p><i><a href="https://impulse.coreatcu.com/motivote-a-tale-of-unlikely-hacktivism-e86cdf5770b9"> Here is an article I wrote for the Columbia Organization of Rising Entrepreneurs! </a></i></p>
    </body>
</html>

